$primaryGradient: linear-gradient(214deg, rgba(234,205,163,1) 35%, rgb(192, 160, 121) 100%);

.search_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $primaryGradient;
}

.result_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.house_wrapper{
    min-height: 250px;
    width: 250px;
}