$aColor: #000;
$fieldGradient: linear-gradient(214deg, rgba(234,205,163,1) 35%, rgb(192, 160, 121) 100%);
$routerLinksGap: 65px;
$fieldHeightAndWidth: 70px;
$dropdownMinHeight: 160px;

%fieldNavbarStyle{
    height: $fieldHeightAndWidth;
    min-width: $fieldHeightAndWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar_wrapper{
    position: sticky;
    top: 0;
    background: #fff;
    height: $fieldHeightAndWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Italiana', serif;
}

.router_links_wrapper{
    display: flex;
    gap: $routerLinksGap;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.fields_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary_icon{
    color: #fff;
}

.search_field{
    @extend %fieldNavbarStyle;
}

.cart_field{
    background: $fieldGradient;
    @extend %fieldNavbarStyle;
}

.log_out_button{
    cursor: pointer;
}

.drop_btn {
    padding: 16px;
    font-size: 16px;
    border: none;
    background: #fff;
}
  
.dropdown {
    display: inline-block;
}
  
.dropdown_content {
    display: none;
    position: absolute;
    min-width: $dropdownMinHeight;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown_content a {
    background: #fff;
    color: black;
    padding: 12px 16px;
    display: block;
}
  
.dropdown_content a:hover {
    background: $fieldGradient;
    color: #fff;
}
  
.dropdown:hover .dropdown_content {
    display: block;
}
  
.auth_wrapper{
    display: flex;
    margin-right: 30px;
    gap: 10px;
}

.sidebar_wrapper{
    position: fixed;
    z-index: 999;
    width: 20%;
    height: 90%;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    display: grid;
    align-items: center;
    top: 0;
    right: 0;
    transition: 0.3s ease-in-out;
    top: 0;
}

.sidebar_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    height: 100%;
    gap: 20px;
    overflow-y: scroll;
}

.favorite_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
}

.favorite_image{
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.favorite_title,
.favorite_address{
    text-align: center;
}

.cross_wrapper{
    position: absolute;
    top: 5%;
    right: 20%;
    cursor: pointer;
}

a{
    color: $aColor;
}