<nav *ngIf="!(currentRoute === '/login' || currentRoute === '/signup')" class="navbar_wrapper">
    <div class="router_links_wrapper">
        <a routerLink="/" class="navbar_logo">MidasTouch</a>
        <a routerLink="/">Home</a>
        <a routerLink="/about">About</a>
        <div class="dropdown">
            <button class="drop_btn">Real Estate</button>
            <div class="dropdown_content">
                <a routerLink="/moscow">Moscow</a>
                <a routerLink="/dubai">Dubai</a>
                <a routerLink="/london">London</a>
            </div>
        </div>
    </div>
    <div *ngIf="auth" class="fields_wrapper">
        <span class="log_out_button" (click)="logOut()">Log out</span>
        <a *ngIf="userIsAdmin" routerLink="/account">
            <div class="search_field">
                <i class="fa-solid fa-user"></i>
            </div>
        </a>
        <a *ngIf="!userIsAdmin" routerLink="/cart">
            <div class="search_field">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </a>
        <div class="cart_field" (click)="toggleSidebarOpen()">
            <i class="fa-solid fa-crown primary_icon"></i>
        </div>
    </div>
    <div *ngIf="!auth" class="auth_wrapper">
        <a routerLink="/login">
            <app-button [isPrimary]="true" [text]="'Log in'"></app-button>
        </a>
        <a routerLink="/signup">
            <app-button [isPrimary]="false" [text]="'Sign Up'" [isFontDark]="true"></app-button>
        </a>
    </div>
</nav>
<div *ngIf="isSidebarOpen" class="sidebar_wrapper">
    <div class="cross_wrapper" (click)="toggleSidebarOpen()">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="sidebar_content">   
        <div class="favorite_wrapper" *ngFor="let favorite of userFavorite">
            <img class="favorite_image" src="{{favorite.imageURL[0]}}" alt="" />
            <h4 class="favorite_title">{{favorite.title}}</h4>
            <span class="favorite_address">{{favorite.city}}, {{favorite.exactAddress}}</span>
            <a [routerLink]="['/search', favorite.id]" (click)="toggleSidebarOpen()">
                <app-button [isPrimary]="true" [text]="'To advertisement'" [isSmall]="true"></app-button>
            </a>
        </div>
    </div>
</div>