$primaryGradient: linear-gradient(214deg, rgba(234,205,163,1) 35%, rgb(192, 160, 121) 100%);

.account_wrapper{
    display: flex;
    background: $primaryGradient;
    width: 100%;
    min-height: 100vh;
}

.admin_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.user_wrapper{
    width: 100%;
    height: 100%;
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-top: 35px;
}

.adding_window{
    display: flex;
    justify-content: space-around;
    width: 80%;
    min-height: 500px;
    background: #fff;
    border-radius: 50px;
    padding: 50px;
}

.data_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40%;
    height: 100%;
}

.images_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 40%;
    height: 100%;
}

.inputs_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.response_error

.input_image{
    content: '';
    background: #c0c0c0;
}

.input_image_label{
    background: $primaryGradient;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
}

.under_images_wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.under_image{
    cursor: pointer;
    height: 50px;
    width: 100px;
    transition: transform 0.4s;
}

.under_image:hover{
    transform: scale(3);
}

.buttons_wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 70%;
}

#input_image{
    display: none;
}

h2{
    color: #fff;
}