<div class="login_wrapper">
    <div class="image_wrapper">
        <img src="../../../assets/login.svg" alt="">
    </div>
    <div class="functional_wrapper">
        <h2>Log in</h2>
        <div class="inputs_wrapper">
            <div class="input_wrapper">
                <app-input [classifyer]="'email'" [text]="'Email'" (keyup)="changeEmailValue($event)"></app-input>
            </div>
            <div class="input_wrapper">
                <app-input [classifyer]="'password'" [text]="'Password'" [type]="'password'" (keyup)="changePasswordValue($event)"></app-input>
            </div>
            <div class="buttons_wrapper">
                <a routerLink="/resetpassword">
                    <span class="password_span">Forgot password?</span>
                </a>
                <app-button [isPrimary]="true" [text]="'Log in'" (click)="logIn()"></app-button>
            </div>
            <span class="response_error" *ngIf="responseError">{{responseError}}</span>
        </div>
    </div>
</div>