$primaryColor: #101522;
$textColor: #fff;

.footer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryColor;
    padding: 20px;
}

.footer_content {
    color: $textColor;
}