<div class="content_wrapper">
    <div class="input_wrapper" [formGroup]="validationForm">
        <label for="{{classifyer}}">{{text}}</label>
        <input id="{{classifyer}}" type={{type}} formControlName="{{classifyer}}">
    </div>
    <span *ngIf="invalidValue?.errors?.['required'] && invalidValue?.touched">{{text}} is required</span>
    <span *ngIf="invalidValue?.errors?.['email'] && invalidValue?.touched">{{text}} syntax is invalid</span>
    <span *ngIf="invalidValue?.errors?.['noSpaceAllowed'] && invalidValue?.touched">{{text}} must not have spaces</span>
    <span *ngIf="invalidValue?.errors?.['noCharactersAllowed'] && invalidValue?.touched">{{text}} must not have characters</span>
</div>