<div class="cart_wrapper">
    <h1>Cart</h1>
    <div class="cart_content">
        <div class="cart_unit" *ngFor="let unit of userCart">
            <div class="image_wrapper">
                <img class="image_unit" src="{{unit.imageURL[0]}}" alt="">
            </div>
            <div class="info_unit">
                <div class="cross_wrapper" (click)="deleteUnit(unit.id)">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <h2>{{unit.title}}</h2>
                <span>{{unit.city}}, {{unit.exactAddress}}</span>
                <div class="finishing_wrapper">
                    <span>sqm {{unit.squareMeters}} ·</span>
                    <span>bed {{unit.bedrooms}} ·</span>
                    <span>bath {{unit.bathrooms}}</span>
                </div>
                <hr />
                <span>{{unit.price}}$</span>
            </div>
        </div>
        <hr />
        <div class="functions_wrapper">
            <span>Total is {{totalCost}}$</span>
            <div class="buttons_wrapper">
                <app-button [isPrimary]="true" [text]="'Send Request'" (click)="sendRequest()"></app-button>
            </div>
        </div>
    </div>
</div>