<div class="houseinfo_wrapper">
    <h1>{{houseInfo.title}}</h1>
    <div class="info_wrapper">
        <!-- Пикчи, Адрес, Дата застройки, цена, c отделкой или нет. Кнопки добавления в любимое или в корзину -->
        <div class="images_wrapper">
            <img class="main_image" src="http://localhost:7000/{{imageURL[0]}}" />
            <div class="secondary_images">
                <div *ngFor="let url of houseInfo.imageURL.slice(1); let i = index">
                <img class="secondary_image" src="http://localhost:7000/{{url}}" alt=""  (click)="setMainImage(i + 1)"/>
                <div>{{url}}</div>
                </div>
            </div>
        </div>
        <div class="functional_wrapper">
            <span class="house_price">1900000 $</span>
            <hr/>
            <div class="buttons_wrapper">
                <app-button [isPrimary]="true" [text]="'Add to Cart'"></app-button>
                <app-button [isPrimary]="false" [text]="'To favorite'" [isFontDark]="true"></app-button>
            </div>
        </div>
        <div class="description_wrapper">
            <span class="description">{{houseInfo.description}}</span>
        </div>
        <div class="data_wrapper">
            <h2>House Data</h2>
            <hr/>
            <div class="data_table">
                <div class="data_unit">
                    <span>Located at</span>
                    <div class="vertical_line"></div>
                    <span>United Kingdom, London, 12 Backer St.</span>
                </div>
                <div class="data_unit">
                    <span>Was Built at</span>
                    <div class="vertical_line"></div>
                    <span>2020</span>
                </div>
                <div class="data_unit">
                    <span>Square Meters</span>
                    <div class="vertical_line"></div>
                    <span>90</span>
                </div>
                <div class="data_unit">
                    <span>Furnished</span>
                    <div class="vertical_line"></div>
                    <span>Yes</span>
                </div>
                <div class="data_unit">
                    <span>Bedrooms</span>
                    <div class="vertical_line"></div>
                    <span>1</span>
                </div>
                <div class="data_unit">
                    <span>Bathrooms</span>
                    <div class="vertical_line"></div>
                    <span>2</span>
                </div>
            </div>
        </div>
    </div>
</div>